/*---------Navegación-------------------*/
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(206, 155, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar li {
    float: left;
}

.nav-bar li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li a:hover {
    background-color: rgba(212, 118, 255, 0.9);
    border-radius: 1.5em;
}